My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-syllabus",
        "responseMode": "lastNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "d180d6dc-6519-44cf-b337-b58f81af5312",
      "name": "Webhook: Receive Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "webhookId": "syllabus-upload-webhook",
      "notes": "Entry point. Accepts multipart/form-data POST with binary PDF file + student metadata. Test via curl or Postman."
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields from webhook payload\nconst body = $input.first().json;\nconst binary = $input.first().binary;\n\nif (!binary || !binary.data) {\n  throw new Error('No PDF file found in request. Ensure field name is \"data\".');\n}\n\nif (!body.student_email) {\n  throw new Error('student_email is required in form fields.');\n}\n\nif (!body.course_name) {\n  throw new Error('course_name is required.');\n}\n\nif (!body.semester_start) {\n  throw new Error('semester_start (YYYY-MM-DD) is required.');\n}\n\n// Generate unique plan ID\nconst planId = 'plan_' + Date.now() + '_' + Math.random().toString(36).substr(2, 6);\n\nreturn [{\n  json: {\n    plan_id: planId,\n    student_email: body.student_email,\n    student_name: body.student_name || 'Student',\n    course_name: body.course_name,\n    semester_start: body.semester_start,\n    upload_timestamp: new Date().toISOString()\n  },\n  binary: binary\n}];"
      },
      "id": "e8a118c5-2c93-44a6-854a-292f227d9e2a",
      "name": "Code: Validate & Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "notes": "Validates required fields, generates unique plan_id. Throws descriptive errors on missing data."
    },
    {
      "parameters": {
        "name": "={{ $json.plan_id }}_{{ $json.course_name.replace(/\\s+/g, '_') }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "100bdfe7-5bcb-456a-81b1-72a34bc4daa2",
      "name": "Google Drive: Store PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1088,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HqhPxOaWcsFHarCJ",
          "name": "Google Drive OAuth2 API"
        }
      },
      "notes": "Stores PDF in Google Drive for audit trail. Replace REPLACE_WITH_YOUR_DRIVE_FOLDER_ID with your actual folder ID."
    },
    {
      "parameters": {
        "jsCode": "// Merge Drive upload result back with student metadata\nconst prevItems = $('Code: Validate & Prep').all();\nconst driveItem = $input.first();\n\nreturn [{\n  json: {\n    ...prevItems[0].json,\n    drive_file_id: driveItem.json.id,\n    drive_web_link: driveItem.json.webViewLink\n  },\n  binary: prevItems[0].binary\n}];"
      },
      "id": "9e0603a5-7c53-4c47-ad0a-f5166c0f5ffc",
      "name": "Code: Merge Drive Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ],
      "notes": "Re-merges student metadata with Google Drive file info so subsequent nodes have full context."
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "4859c9c4-225a-40f9-9ac9-1683eb152c8f",
      "name": "Extract From File: PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1520,
        0
      ],
      "notes": "Extracts raw text from the PDF binary. Output field: $json.text — this is passed to the AI for parsing."
    },
    {
      "parameters": {
        "jsCode": "// Merge PDF text with student metadata\nconst meta = $('Code: Merge Drive Meta').first().json;\nconst extracted = $input.first().json;\n\nconst syllabusText = extracted.text || '';\n\nif (!syllabusText || syllabusText.trim().length < 100) {\n  throw new Error('PDF text extraction failed or returned too little content. Ensure the PDF is not scanned/image-only.');\n}\n\n// Truncate to ~12000 chars to stay within token limits (adjust as needed)\nconst truncatedText = syllabusText.slice(0, 12000);\n\nreturn [{\n  json: {\n    ...meta,\n    syllabus_text: truncatedText,\n    full_char_count: syllabusText.length\n  }\n}];"
      },
      "id": "3e459b59-30d4-4827-8275-00ff34d220de",
      "name": "Code: Merge PDF Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        0
      ],
      "notes": "Merges extracted PDF text with student meta. Truncates to 12k chars to avoid token overflow. Throws error if text is too short."
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "id": "bdc87b5d-41ab-4a90-aa11-f102c273654e",
      "name": "OpenAI: Extract Topics",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1968,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "TMjdMZa9jX2F0Plm",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "First AI call. Extracts structured topics, subtopics, difficulty, and exam dates from raw syllabus text."
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and merge everything\nconst meta = $('Code: Merge PDF Text').first().json;\nconst aiResponse = $input.first().json;\n\nlet parsedSyllabus;\ntry {\n  // OpenAI with json_object format returns content as string\n  const content = aiResponse.message?.content || aiResponse.choices?.[0]?.message?.content || aiResponse.content || '';\n  parsedSyllabus = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  throw new Error('Failed to parse AI topic extraction response as JSON: ' + e.message);\n}\n\nif (!parsedSyllabus.topics || parsedSyllabus.topics.length === 0) {\n  throw new Error('AI returned no topics. Check PDF text quality.');\n}\n\nreturn [{\n  json: {\n    ...meta,\n    parsed_syllabus: parsedSyllabus,\n    topics_count: parsedSyllabus.topics.length,\n    exams_count: (parsedSyllabus.exams || []).length\n  }\n}];"
      },
      "id": "d8ed70c9-6bfe-406d-806d-b1bf32d1c974",
      "name": "Code: Parse Topics Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        0
      ],
      "notes": "Parses the AI JSON response. Validates at least some topics were extracted. Merges with student metadata."
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "id": "19b22605-2ee6-4a7b-8460-ed394cb17197",
      "name": "OpenAI: Generate Schedule",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2400,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "TMjdMZa9jX2F0Plm",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "Second AI call. Generates the full 15-week study schedule from extracted topics. Uses StudyBuddy persona."
    },
    {
      "parameters": {
        "jsCode": "// Parse schedule AI response + compute week dates\nconst meta = $('Code: Parse Topics Response').first().json;\nconst aiResponse = $input.first().json;\n\nlet scheduleData;\ntry {\n  const content = aiResponse.message?.content || aiResponse.choices?.[0]?.message?.content || aiResponse.content || '';\n  scheduleData = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  throw new Error('Failed to parse schedule AI response: ' + e.message);\n}\n\nif (!scheduleData.schedule || scheduleData.schedule.length !== 15) {\n  throw new Error(`Schedule must have exactly 15 weeks. Got: ${scheduleData.schedule?.length}`);\n}\n\n// Compute actual calendar dates for each week\nconst startDate = new Date(meta.semester_start);\n// Find the next Monday from start date\nconst dayOfWeek = startDate.getDay();\nconst daysUntilMonday = dayOfWeek === 0 ? 1 : (dayOfWeek === 1 ? 0 : 8 - dayOfWeek);\nstartDate.setDate(startDate.getDate() + daysUntilMonday);\n\nconst fullSchedule = scheduleData.schedule.map((week, idx) => {\n  const weekStart = new Date(startDate);\n  weekStart.setDate(startDate.getDate() + (idx * 7));\n  const weekEnd = new Date(weekStart);\n  weekEnd.setDate(weekStart.getDate() + 4); // Friday\n  \n  return {\n    ...week,\n    plan_id: meta.plan_id,\n    student_email: meta.student_email,\n    student_name: meta.student_name,\n    course_name: meta.course_name,\n    week_start_date: weekStart.toISOString().split('T')[0],\n    week_end_date: weekEnd.toISOString().split('T')[0],\n    week_start_iso: weekStart.toISOString(),\n    email_sent: false\n  };\n});\n\n// Also return combined metadata for sheet storage\nreturn [{\n  json: {\n    plan_id: meta.plan_id,\n    student_email: meta.student_email,\n    student_name: meta.student_name,\n    course_name: meta.course_name,\n    semester_start: meta.semester_start,\n    drive_file_id: meta.drive_file_id,\n    drive_web_link: meta.drive_web_link,\n    topics_json: JSON.stringify(meta.parsed_syllabus.topics),\n    schedule_json: JSON.stringify(fullSchedule),\n    full_schedule: fullSchedule,\n    topics_count: meta.topics_count,\n    status: 'active',\n    created_at: new Date().toISOString(),\n    current_week: 1,\n    next_email_date: fullSchedule[0].week_start_date\n  }\n}];"
      },
      "id": "fe09e609-d44f-4555-90ab-d025b59d4499",
      "name": "Code: Build Full Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        0
      ],
      "notes": "Parses schedule AI response, computes actual calendar dates for each of the 15 weeks (starting from next Monday), merges all data."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Students",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c22bb52f-cf59-42f7-aa41-8565525cabc9",
      "name": "Google Sheets: Store Plan",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2848,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0zMYsqyKKTjQa1Dq",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Stores complete student record + full schedule JSON in 'Students' sheet. Replace REPLACE_WITH_YOUR_SHEET_ID with actual spreadsheet ID."
    },
    {
      "parameters": {
        "jsCode": "// Extract the full schedule array for loop iteration\nconst data = $input.first().json;\nreturn data.full_schedule.map(week => ({ json: week }));"
      },
      "id": "70281ab2-80be-4a03-be42-82e9b72d6b33",
      "name": "Code: Split Into 15 Weeks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        0
      ],
      "notes": "Splits the full_schedule array into 15 individual items so the SplitInBatches node can loop over each week."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3dc4b927-015e-4000-8bfe-608d2724fab1",
      "name": "SplitInBatches: Week Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3280,
        0
      ],
      "notes": "Iterates one week at a time. Each pass creates one Google Calendar event. Connect 'loop' output back to Calendar node."
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "primary"
        },
        "start": "={{ $json.week_start_iso }}",
        "end": "={{ new Date(new Date($json.week_start_iso).getTime() + 2 * 60 * 60 * 1000).toISOString() }}",
        "additionalFields": {
          "attendees": "={{ [$json.student_email] }}",
          "description": "=🎯 WEEK {{ $json.week_num }} STUDY SESSION\n\n📖 Topics:\n{{ $json.topics.join('\\n• ') }}\n\n📋 DAILY TASKS:\nMonday: {{ $json.daily_tasks.monday }}\nTuesday: {{ $json.daily_tasks.tuesday }}\nWednesday: {{ $json.daily_tasks.wednesday }}\nThursday: {{ $json.daily_tasks.thursday }}\nFriday: {{ $json.daily_tasks.friday }}\nSaturday: {{ $json.daily_tasks.saturday }}\nSunday: {{ $json.daily_tasks.sunday }}\n\n⏱️ Total Hours: {{ $json.total_hours }}h\n💪 Difficulty: {{ $json.difficulty_score }}/10\n\n✨ StudyBuddy Tip: {{ $json.motivation_tip }}\n\n📌 Plan ID: {{ $json.plan_id }}",
          "summary": "=📚 W{{ $json.week_num }}: {{ $json.week_theme }} — {{ $json.course_name }}"
        }
      },
      "id": "41269c67-84a3-4858-96c2-4ab158ddb886",
      "name": "Google Calendar: Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        3504,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "WLlAOkz7Jg0gmhAz",
          "name": "Google Calendar OAuth2 API"
        }
      },
      "notes": "Creates one calendar event per week. Color-coded by difficulty: red=hard (8-10), yellow=medium (5-7), green=easy (1-4). Has reminder 24h before and 30min popup."
    },
    {
      "parameters": {
        "jsCode": "// After loop completes, gather summary for welcome email\nconst allItems = $input.all();\nconst firstItem = allItems[0].json;\nreturn [{\n  json: {\n    plan_id: firstItem.plan_id,\n    student_email: firstItem.student_email,\n    student_name: firstItem.student_name,\n    course_name: firstItem.course_name,\n    semester_start: firstItem.semester_start,\n    weeks_created: allItems.length,\n    first_week: allItems[0].json,\n    last_week: allItems[allItems.length - 1].json\n  }\n}];"
      },
      "id": "354229b1-5ff7-4397-a814-55324f4ace18",
      "name": "Code: Post-Loop Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        0
      ],
      "notes": "Runs after the SplitInBatches loop is done. Collects summary data for the welcome email."
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "id": "b25a1d4d-e48a-44bc-8d9d-07ee4854c94c",
      "name": "OpenAI: Write Welcome Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        3952,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "TMjdMZa9jX2F0Plm",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "Generates the one-time welcome email using StudyBuddy persona."
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code: Post-Loop Summary').first().json.student_email }}",
        "subject": "=🎓 Your 15-Week {{ $('Code: Post-Loop Summary').first().json.course_name }} Study Plan is LIVE!",
        "message": "={{ $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content || $input.first().json.content || 'Welcome to your study plan!' }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "studybuddy-noreply@yourdomain.com"
        }
      },
      "id": "3e06175e-8ddb-4596-a87f-df2f1ceddde8",
      "name": "Gmail: Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4160,
        0
      ],
      "webhookId": "b0d60478-25b9-4677-b915-b0d79e3182ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "kzdHi3BgsGQ7frU8",
          "name": "Gmail OAuth2 API"
        }
      },
      "notes": "Sends the AI-generated welcome email to the student. Update replyTo with your actual email."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"plan_id\": \"{{ $('Code: Build Full Schedule').first().json.plan_id }}\",\n  \"message\": \"Your 15-week study plan for {{ $('Code: Build Full Schedule').first().json.course_name }} is ready!\",\n  \"student\": \"{{ $('Code: Build Full Schedule').first().json.student_name }}\",\n  \"calendar_events_created\": 15,\n  \"welcome_email_sent\": true,\n  \"first_week_starts\": \"{{ $('Code: Build Full Schedule').first().json.next_email_date }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "7e642bb7-efff-4a86-9787-d4627fd4a10d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4384,
        0
      ],
      "notes": "Returns JSON success response to the upload form. Includes plan_id for client-side tracking."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "bcbfbff4-e73b-4876-a825-5d84b01759eb",
      "name": "IF: Error Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3504,
        208
      ],
      "notes": "Optional error routing. Connect any node's error output here to handle failures gracefully."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || 'Processing failed' }}\",\n  \"message\": \"We encountered an issue processing your syllabus. Please check the PDF is text-based (not scanned) and try again.\"\n}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "f0f20d92-ad95-4b48-a4ab-bdb1da6e43ee",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3728,
        208
      ],
      "notes": "Returns structured error response to the upload form."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 0"
            }
          ]
        }
      },
      "id": "78419f9f-070d-401b-9679-1c0dd4c8f193",
      "name": "Cron: Every Sunday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        640,
        608
      ],
      "notes": "Fires every Sunday at 8:00 AM (configured for Asia/Kolkata timezone in workflow settings). Change cron expression as needed: 0 8 * * 0"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "sheetsUi": {
          "sheetValues": [
            {}
          ]
        },
        "options": {}
      },
      "id": "0b1c4c7e-4513-4f68-bd7c-c175919d27a6",
      "name": "Google Sheets: Read All Students",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        864,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0zMYsqyKKTjQa1Dq",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Reads all rows from the Students sheet. We will filter to active plans in the next node."
    },
    {
      "parameters": {
        "jsCode": "// Filter to only active students whose email is due this week\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst activeStudents = $input.all().filter(item => {\n  const row = item.json;\n  \n  // Must be active\n  if (row.status !== 'active') return false;\n  \n  // Must have a schedule\n  if (!row.schedule_json) return false;\n  \n  // Check if next_email_date is today or past\n  if (row.next_email_date) {\n    const emailDate = new Date(row.next_email_date);\n    emailDate.setHours(0, 0, 0, 0);\n    if (emailDate > today) return false;\n  }\n  \n  // Parse current week (default to 1 if not set)\n  const currentWeek = parseInt(row.current_week) || 1;\n  \n  // Don't send past week 15\n  if (currentWeek > 15) return false;\n  \n  return true;\n});\n\nif (activeStudents.length === 0) {\n  // No students to email — graceful exit\n  return [{ json: { skipped: true, reason: 'No active students due for email today', timestamp: new Date().toISOString() } }];\n}\n\n// Enrich each student item with parsed schedule\nreturn activeStudents.map(item => {\n  const row = item.json;\n  let schedule = [];\n  try {\n    schedule = JSON.parse(row.schedule_json);\n  } catch(e) {\n    console.log('Failed to parse schedule for:', row.student_email);\n  }\n  \n  const currentWeek = parseInt(row.current_week) || 1;\n  const weekIndex = currentWeek - 1;\n  const currentWeekData = schedule[weekIndex] || schedule[0];\n  const nextWeekData = schedule[weekIndex + 1] || null;\n  \n  return {\n    json: {\n      ...row,\n      current_week_num: currentWeek,\n      current_week_data: currentWeekData,\n      next_week_data: nextWeekData,\n      schedule_parsed: schedule,\n      total_weeks: schedule.length,\n      percent_complete: Math.round((currentWeek / 15) * 100)\n    }\n  };\n});"
      },
      "id": "d55840a3-e72f-4f95-bdc5-30f859a0a5cc",
      "name": "Code: Filter Active Students",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        608
      ],
      "notes": "Filters students who are active and due for an email. Parses schedule JSON and enriches with current week data."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.skipped }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "bec6628f-9ced-400f-906d-0ea70bf814f8",
      "name": "IF: Any Students?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1312,
        608
      ],
      "notes": "Stops the workflow gracefully if no students need emails today."
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "id": "4f2942e3-c47a-4809-b80b-0ee1604cb2a2",
      "name": "OpenAI: Generate Weekly Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1520,
        608
      ],
      "credentials": {
        "openAiApi": {
          "id": "TMjdMZa9jX2F0Plm",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "Generates personalized weekly prep email. Runs for EACH active student. If you have many students, consider batching to respect rate limits."
    },
    {
      "parameters": {
        "jsCode": "// Merge the AI email content back with student data\nconst studentData = $('Code: Filter Active Students').all();\nconst aiResponse = $input.first();\n\n// Find matching student (they should be in order)\nconst currentIndex = $itemIndex || 0;\nconst student = studentData[currentIndex]?.json || studentData[0]?.json;\n\nconst emailHtml = aiResponse.json.message?.content \n  || aiResponse.json.choices?.[0]?.message?.content \n  || aiResponse.json.content \n  || '<p>Weekly study plan update — check your calendar!</p>';\n\nreturn [{\n  json: {\n    ...student,\n    email_html: emailHtml\n  }\n}];"
      },
      "id": "7fc49b26-4588-47f4-a061-dde0d23f65d1",
      "name": "Code: Merge Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        608
      ],
      "notes": "Merges AI-generated email HTML with student metadata for sending."
    },
    {
      "parameters": {
        "sendTo": "={{ $json.student_email }}",
        "subject": "=📚 Week {{ $json.current_week_num }}/15: Your {{ $json.course_name }} Prep from StudyBuddy",
        "message": "={{ $json.email_html }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "studybuddy@yourdomain.com"
        }
      },
      "id": "44d4a379-d5ee-4b16-afb3-ed7ee3e5393a",
      "name": "Gmail: Send Weekly Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1968,
        608
      ],
      "webhookId": "27b902a9-e877-400a-b384-0ac48d5b6e90",
      "credentials": {
        "gmailOAuth2": {
          "id": "kzdHi3BgsGQ7frU8",
          "name": "Gmail OAuth2 API"
        }
      },
      "notes": "Sends weekly prep email to the student. Subject includes week number and course name for easy filtering."
    },
    {
      "parameters": {
        "jsCode": "// Calculate next email date and updated week number\nconst data = $input.first().json;\nconst nextWeekNum = (parseInt(data.current_week_num) || 1) + 1;\nconst nextEmailDate = new Date();\nnextEmailDate.setDate(nextEmailDate.getDate() + 7);\n\nreturn [{\n  json: {\n    plan_id: data.plan_id,\n    student_email: data.student_email,\n    new_week_num: nextWeekNum,\n    new_status: nextWeekNum > 15 ? 'completed' : 'active',\n    new_next_email: nextEmailDate.toISOString().split('T')[0],\n    email_sent_week: data.current_week_num\n  }\n}];"
      },
      "id": "999111cc-a669-4050-bf39-19951440940b",
      "name": "Code: Calc Next Week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        608
      ],
      "notes": "Computes the next week number and next email date. Marks plan as 'completed' after week 15."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Students",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "current_week": "={{ $json.new_week_num }}",
            "status": "={{ $json.new_status }}",
            "next_email_date": "={{ $json.new_next_email }}"
          },
          "schema": [],
          "matchingColumns": [
            "plan_id"
          ]
        },
        "options": {}
      },
      "id": "963a00bf-cb9e-4cd1-a84c-bf87a04d899d",
      "name": "Google Sheets: Update Progress",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2400,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0zMYsqyKKTjQa1Dq",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "Updates current_week, status, and next_email_date after sending. Status becomes 'completed' after week 15."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.new_status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "8ef2b5da-3962-4b20-993a-a204fee3f359",
      "name": "IF: Semester Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2624,
        608
      ],
      "notes": "Routes to completion email if this was the last week (week 15)."
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "id": "e9db6af6-7e6d-40da-99ae-14565cc7cdb7",
      "name": "OpenAI: Completion Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2848,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "TMjdMZa9jX2F0Plm",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "Generates a celebratory semester completion email after week 15."
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code: Calc Next Week').first().json.student_email }}",
        "subject": "=🎉 You Did It! 15 Weeks of {{ $('Code: Calc Next Week').first().json.course_name }} Complete!",
        "message": "={{ $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content || $input.first().json.content || 'Congratulations on completing your study plan!' }}",
        "options": {}
      },
      "id": "a7f8ac1d-f0b9-48a1-8812-6561bc9ae450",
      "name": "Gmail: Send Completion Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3072,
        512
      ],
      "webhookId": "444a70be-0f0b-4ff5-a2b3-277c7f6490f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "kzdHi3BgsGQ7frU8",
          "name": "Gmail OAuth2 API"
        }
      },
      "notes": "Sends celebratory completion email after the 15th week."
    },
    {
      "parameters": {
        "jsCode": "// Log successful execution for monitoring\nconst data = $input.first().json;\nconsole.log(`[S2S Engine] Weekly email sent successfully:`, {\n  student: data.student_email,\n  week: data.email_sent_week,\n  next_email: data.new_next_email,\n  status: data.new_status,\n  timestamp: new Date().toISOString()\n});\nreturn $input.all();"
      },
      "id": "42f991d8-e1d2-41c4-a8ee-6a7a2e5c35c0",
      "name": "Code: Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        704
      ],
      "notes": "Logs successful email send. In production, you could write to a Logs sheet here for audit trail."
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Receive Upload": {
      "main": [
        [
          {
            "node": "Code: Validate & Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate & Prep": {
      "main": [
        [
          {
            "node": "Google Drive: Store PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive: Store PDF": {
      "main": [
        [
          {
            "node": "Code: Merge Drive Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge Drive Meta": {
      "main": [
        [
          {
            "node": "Extract From File: PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File: PDF Text": {
      "main": [
        [
          {
            "node": "Code: Merge PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge PDF Text": {
      "main": [
        [
          {
            "node": "OpenAI: Extract Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Extract Topics": {
      "main": [
        [
          {
            "node": "Code: Parse Topics Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Topics Response": {
      "main": [
        [
          {
            "node": "OpenAI: Generate Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Schedule": {
      "main": [
        [
          {
            "node": "Code: Build Full Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build Full Schedule": {
      "main": [
        [
          {
            "node": "Google Sheets: Store Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Store Plan": {
      "main": [
        [
          {
            "node": "Code: Split Into 15 Weeks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Split Into 15 Weeks": {
      "main": [
        [
          {
            "node": "SplitInBatches: Week Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches: Week Loop": {
      "main": [
        [
          {
            "node": "Google Calendar: Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Post-Loop Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar: Create Event": {
      "main": [
        [
          {
            "node": "SplitInBatches: Week Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Post-Loop Summary": {
      "main": [
        [
          {
            "node": "OpenAI: Write Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Write Welcome Email": {
      "main": [
        [
          {
            "node": "Gmail: Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Error Check": {
      "main": [
        [
          {
            "node": "Respond: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron: Every Sunday 8AM": {
      "main": [
        [
          {
            "node": "Google Sheets: Read All Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Read All Students": {
      "main": [
        [
          {
            "node": "Code: Filter Active Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Filter Active Students": {
      "main": [
        [
          {
            "node": "IF: Any Students?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Any Students?": {
      "main": [
        [],
        [
          {
            "node": "OpenAI: Generate Weekly Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Weekly Email": {
      "main": [
        [
          {
            "node": "Code: Merge Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Merge Email Content": {
      "main": [
        [
          {
            "node": "Gmail: Send Weekly Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Weekly Email": {
      "main": [
        [
          {
            "node": "Code: Calc Next Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Calc Next Week": {
      "main": [
        [
          {
            "node": "Google Sheets: Update Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Update Progress": {
      "main": [
        [
          {
            "node": "IF: Semester Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Semester Complete?": {
      "main": [
        [
          {
            "node": "OpenAI: Completion Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Completion Email": {
      "main": [
        [
          {
            "node": "Gmail: Send Completion Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "da625082-270d-404d-95de-197064cd7340",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa7dce358dd68b8df99a679c49439d361f4b8b6e8176f257d2514c834c97b113"
  },
  "id": "llDeEUYVgJtblfPR",
  "tags": []
}