workflow_b_weekly_cron.json
{
  "name": "S2S Engine — Workflow B: Weekly Email Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 0"
            }
          ]
        }
      },
      "id": "node-cron-trigger",
      "name": "Cron: Every Sunday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400],
      "notes": "Fires every Sunday at 8:00 AM (configured for Asia/Kolkata timezone in workflow settings). Change cron expression as needed: 0 8 * * 0"
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Students",
          "mode": "name"
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "id": "node-sheet-read-all",
      "name": "Google Sheets: Read All Students",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [420, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Reads all rows from the Students sheet. We will filter to active plans in the next node."
    },
    {
      "parameters": {
        "jsCode": "// Filter to only active students whose email is due this week\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst activeStudents = $input.all().filter(item => {\n  const row = item.json;\n  \n  // Must be active\n  if (row.status !== 'active') return false;\n  \n  // Must have a schedule\n  if (!row.schedule_json) return false;\n  \n  // Check if next_email_date is today or past\n  if (row.next_email_date) {\n    const emailDate = new Date(row.next_email_date);\n    emailDate.setHours(0, 0, 0, 0);\n    if (emailDate > today) return false;\n  }\n  \n  // Parse current week (default to 1 if not set)\n  const currentWeek = parseInt(row.current_week) || 1;\n  \n  // Don't send past week 15\n  if (currentWeek > 15) return false;\n  \n  return true;\n});\n\nif (activeStudents.length === 0) {\n  // No students to email — graceful exit\n  return [{ json: { skipped: true, reason: 'No active students due for email today', timestamp: new Date().toISOString() } }];\n}\n\n// Enrich each student item with parsed schedule\nreturn activeStudents.map(item => {\n  const row = item.json;\n  let schedule = [];\n  try {\n    schedule = JSON.parse(row.schedule_json);\n  } catch(e) {\n    console.log('Failed to parse schedule for:', row.student_email);\n  }\n  \n  const currentWeek = parseInt(row.current_week) || 1;\n  const weekIndex = currentWeek - 1;\n  const currentWeekData = schedule[weekIndex] || schedule[0];\n  const nextWeekData = schedule[weekIndex + 1] || null;\n  \n  return {\n    json: {\n      ...row,\n      current_week_num: currentWeek,\n      current_week_data: currentWeekData,\n      next_week_data: nextWeekData,\n      schedule_parsed: schedule,\n      total_weeks: schedule.length,\n      percent_complete: Math.round((currentWeek / 15) * 100)\n    }\n  };\n});"
      },
      "id": "node-filter-active",
      "name": "Code: Filter Active Students",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400],
      "notes": "Filters students who are active and due for an email. Parses schedule JSON and enriches with current week data."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.skipped }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "node-check-skip",
      "name": "IF: Any Students?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 400],
      "notes": "Stops the workflow gracefully if no students need emails today."
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are StudyBuddy 🧠 — a warm, encouraging, and practical AI study coach. You write weekly preparation emails that genuinely help students feel ready and motivated. Your tone is like a brilliant friend who also happens to be an expert tutor. Use emojis tastefully. You ALWAYS respond with a complete HTML email body only — starting with <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\"> and ending with </div>. No subject line, no preamble, just the HTML body."
            },
            {
              "role": "user",
              "content": "=Write the Week {{ $json.current_week_num }} preparation email for this student.\n\nSTUDENT INFO:\n- Name: {{ $json.student_name }}\n- Course: {{ $json.course_name }}\n- Progress: Week {{ $json.current_week_num }} of 15 ({{ $json.percent_complete }}% complete)\n\nTHIS WEEK (Week {{ $json.current_week_num }}):\n- Theme: {{ $json.current_week_data.week_theme }}\n- Topics: {{ JSON.stringify($json.current_week_data.topics) }}\n- Subtopics: {{ JSON.stringify($json.current_week_data.subtopics) }}\n- Monday: {{ $json.current_week_data.daily_tasks.monday }}\n- Tuesday: {{ $json.current_week_data.daily_tasks.tuesday }}\n- Wednesday: {{ $json.current_week_data.daily_tasks.wednesday }}\n- Thursday: {{ $json.current_week_data.daily_tasks.thursday }}\n- Friday: {{ $json.current_week_data.daily_tasks.friday }}\n- Saturday: {{ $json.current_week_data.daily_tasks.saturday }}\n- Sunday: {{ $json.current_week_data.daily_tasks.sunday }}\n- Total Hours: {{ $json.current_week_data.total_hours }}h\n- Difficulty: {{ $json.current_week_data.difficulty_score }}/10\n- Has Exam: {{ $json.current_week_data.has_exam }}\n- Exam Name: {{ $json.current_week_data.exam_name || 'None' }}\n- StudyBuddy Tip: {{ $json.current_week_data.motivation_tip }}\n\nNEXT WEEK PREVIEW (Week {{ $json.current_week_num + 1 }}):\n{{ $json.next_week_data ? '- Theme: ' + $json.next_week_data.week_theme : 'Final week — great job!' }}\n\nEMAIL MUST INCLUDE:\n1. Personalized greeting using student's name\n2. Progress celebration (acknowledge how far they've come)\n3. This week's daily study schedule as a clean table or list\n4. Specific focus tips for the hardest topic this week\n5. If has_exam=true: exam preparation strategy section\n6. Quick preview of next week\n7. StudyBuddy motivational sign-off\n\nDesign: Clean, modern HTML email. Use a purple/indigo header (#6366f1). Mobile-friendly. Inline CSS only. Under 500 words content."
            }
          ]
        },
        "options": {
          "temperature": 0.65,
          "maxTokens": 2000
        }
      },
      "id": "node-ai-weekly-email",
      "name": "OpenAI: Generate Weekly Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1080, 400],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "notes": "Generates personalized weekly prep email. Runs for EACH active student. If you have many students, consider batching to respect rate limits."
    },
    {
      "parameters": {
        "jsCode": "// Merge the AI email content back with student data\nconst studentData = $('Code: Filter Active Students').all();\nconst aiResponse = $input.first();\n\n// Find matching student (they should be in order)\nconst currentIndex = $itemIndex || 0;\nconst student = studentData[currentIndex]?.json || studentData[0]?.json;\n\nconst emailHtml = aiResponse.json.message?.content \n  || aiResponse.json.choices?.[0]?.message?.content \n  || aiResponse.json.content \n  || '<p>Weekly study plan update — check your calendar!</p>';\n\nreturn [{\n  json: {\n    ...student,\n    email_html: emailHtml\n  }\n}];"
      },
      "id": "node-merge-email",
      "name": "Code: Merge Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400],
      "notes": "Merges AI-generated email HTML with student metadata for sending."
    },
    {
      "parameters": {
        "sendTo": "={{ $json.student_email }}",
        "subject": "=📚 Week {{ $json.current_week_num }}/15: Your {{ $json.course_name }} Prep from StudyBuddy",
        "emailType": "html",
        "message": "={{ $json.email_html }}",
        "options": {
          "replyTo": "studybuddy@yourdomain.com",
          "appendAttribution": false
        }
      },
      "id": "node-gmail-send",
      "name": "Gmail: Send Weekly Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1520, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "Sends weekly prep email to the student. Subject includes week number and course name for easy filtering."
    },
    {
      "parameters": {
        "jsCode": "// Calculate next email date and updated week number\nconst data = $input.first().json;\nconst nextWeekNum = (parseInt(data.current_week_num) || 1) + 1;\nconst nextEmailDate = new Date();\nnextEmailDate.setDate(nextEmailDate.getDate() + 7);\n\nreturn [{\n  json: {\n    plan_id: data.plan_id,\n    student_email: data.student_email,\n    new_week_num: nextWeekNum,\n    new_status: nextWeekNum > 15 ? 'completed' : 'active',\n    new_next_email: nextEmailDate.toISOString().split('T')[0],\n    email_sent_week: data.current_week_num\n  }\n}];"
      },
      "id": "node-calc-next-week",
      "name": "Code: Calc Next Week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 400],
      "notes": "Computes the next week number and next email date. Marks plan as 'completed' after week 15."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Students",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "current_week": "={{ $json.new_week_num }}",
            "status": "={{ $json.new_status }}",
            "next_email_date": "={{ $json.new_next_email }}"
          },
          "schema": [],
          "matchingColumns": ["plan_id"]
        },
        "options": {}
      },
      "id": "node-sheet-update",
      "name": "Google Sheets: Update Progress",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1960, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Updates current_week, status, and next_email_date after sending. Status becomes 'completed' after week 15."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.new_status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node-check-complete",
      "name": "IF: Semester Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2180, 400],
      "notes": "Routes to completion email if this was the last week (week 15)."
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are StudyBuddy 🧠. Write a heartfelt, celebratory semester completion email. The student just finished their 15-week study plan! Be proud, warm, and genuinely celebratory. HTML body only, no subject line."
            },
            {
              "role": "user",
              "content": "=Write a semester completion celebration email for:\nStudent: {{ $json.student_name }}\nCourse: {{ $json.course_name }}\n\nCelebrate their 15-week journey completion. Include: celebration, what they've accomplished, encouragement for their exam/final project, StudyBuddy farewell. Use confetti emoji generously 🎉🏆✨. HTML with purple header. Inline CSS."
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 1000
        }
      },
      "id": "node-ai-completion-email",
      "name": "OpenAI: Completion Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [2400, 300],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "notes": "Generates a celebratory semester completion email after week 15."
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code: Calc Next Week').first().json.student_email }}",
        "subject": "=🎉 You Did It! 15 Weeks of {{ $('Code: Calc Next Week').first().json.course_name }} Complete!",
        "emailType": "html",
        "message": "={{ $input.first().json.message?.content || $input.first().json.choices?.[0]?.message?.content || $input.first().json.content || 'Congratulations on completing your study plan!' }}",
        "options": {}
      },
      "id": "node-gmail-completion",
      "name": "Gmail: Send Completion Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2620, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "Sends celebratory completion email after the 15th week."
    },
    {
      "parameters": {
        "jsCode": "// Log successful execution for monitoring\nconst data = $input.first().json;\nconsole.log(`[S2S Engine] Weekly email sent successfully:`, {\n  student: data.student_email,\n  week: data.email_sent_week,\n  next_email: data.new_next_email,\n  status: data.new_status,\n  timestamp: new Date().toISOString()\n});\nreturn $input.all();"
      },
      "id": "node-log-success",
      "name": "Code: Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 500],
      "notes": "Logs successful email send. In production, you could write to a Logs sheet here for audit trail."
    }
  ],
  "connections": {
    "Cron: Every Sunday 8AM": {
      "main": [
        [{ "node": "Google Sheets: Read All Students", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets: Read All Students": {
      "main": [
        [{ "node": "Code: Filter Active Students", "type": "main", "index": 0 }]
      ]
    },
    "Code: Filter Active Students": {
      "main": [
        [{ "node": "IF: Any Students?", "type": "main", "index": 0 }]
      ]
    },
    "IF: Any Students?": {
      "main": [
        [],
        [{ "node": "OpenAI: Generate Weekly Email", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI: Generate Weekly Email": {
      "main": [
        [{ "node": "Code: Merge Email Content", "type": "main", "index": 0 }]
      ]
    },
    "Code: Merge Email Content": {
      "main": [
        [{ "node": "Gmail: Send Weekly Email", "type": "main", "index": 0 }]
      ]
    },
    "Gmail: Send Weekly Email": {
      "main": [
        [{ "node": "Code: Calc Next Week", "type": "main", "index": 0 }]
      ]
    },
    "Code: Calc Next Week": {
      "main": [
        [{ "node": "Google Sheets: Update Progress", "type": "main", "index": 0 }]
      ]
    },
    "Google Sheets: Update Progress": {
      "main": [
        [{ "node": "IF: Semester Complete?", "type": "main", "index": 0 }]
      ]
    },
    "IF: Semester Complete?": {
      "main": [
        [{ "node": "OpenAI: Completion Email", "type": "main", "index": 0 }],
        [{ "node": "Code: Log Success", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI: Completion Email": {
      "main": [
        [{ "node": "Gmail: Send Completion Email", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["syllabus-engine", "workflow-b", "weekly-cron"],
  "triggerCount": 1,
  "updatedAt": "2026-03-16T00:00:00.000Z",
  "versionId": "1"
}
